{% extends 'base.html' %}
{% block title %}用户管理{% endblock %}
{% block css %}
    .icon:hover{
        color: red;
    }
{% endblock %}
{% block content %}
    <div class="ui right floated small teal labeled button" id="user_add_btn"> 添加用户</div>
    <h1 class="ui header">用户列表</h1>
    <table class="ui striped table">
        <thead>
        <tr>
            <th>姓名</th>
            <th>用户名</th>
            <th>E-mail</th>
            <th>Date Joined</th>
            <th>管理员</th>
            <th>Active</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr {% if not user.is_active %} class="error" {% endif %}>
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.date_joined|date:"Y-m-d H:i:s" }}</td>
                {% if user.is_superuser %}
                    <td class="aligned">
                        <i class="green checkmark icon"></i>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if not user.is_active %}
                    <td class="error"><i class="remove icon"></i></td>
                {% else %}
                    <td class="aligned">
                        <i class="green checkmark icon"></i>
                    </td>
                {% endif %}
                <td>
                    <i class="remove user icon" href="{% url 'users:del' user.id %}" ></i>
                    <a href="{% url 'users:update' user.id %}" ><i class="edit icon"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="ui small modal transition hidden">
        <i class="close icon"></i>
        <div class="header">
            添加用户
        </div>

        <div class="content">
            <form class="ui form"  method="post" action="{% url 'users:add' %}">
                {% csrf_token %}
                {% for field in form %}
                    <div class="field">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <button class="ui button" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function (){
            var csrftoken = Cookies.get('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $('#user_add_btn').click(function () {
                $('.small.modal').modal('show');
            });

            $('.remove.user').click(function(){
                var url = $(this).attr('href');
                if (confirm('确定删除')){
                    $.post(
                            url,
                            function(){
                                console.log('删除用户成功');
                                location.reload()
                            }
                    )
                }
            });
        })
    </script>
{% endblock %}
