{% extends 'base.html' %}
{% block content %}
    <h1 class="ui header">用户更新</h1>
    <form class="ui form" method="post" action="">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name in "is_superuser is_active" %}
                <div class="inline field">
                    {{ field.errors }}
                    {{ field }}
                    {{ field.label_tag  }}
                </div>
            {% else %}
                <div class="field">
                    {{ field.errors }}
                    {{ field.label_tag  }}
                    {{ field }}
                </div>
            {% endif %}
        {% endfor %}
        <button class="ui button" type="submit">Submit</button>
    </form>
{% endblock %}