{% extends 'base.html' %}
{% block title %}资产管理{% endblock %}
{% block css %}
    .icon:hover{
        color: red;
    }
{% endblock %}
{% block content %}
    <a class="ui right floated small teal labeled button" id="asset_add_btn" href="{% url 'assets:add' %}">添加资产 </a>
    <h1 class="ui header">资产列表</h1>
    <table class="ui striped table">
        <thead>
        <tr>
            <th>主机名</th>
            <th>IP</th>
            <th>端口</th>
            <th>管理账号</th>
            <th>系统</th>
            <th>Active</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for asset in assets %}
            <tr {% if not asset.is_active %} class="error" {% endif %}>
                <td>{{ asset.hostname }}</td>
                <td>{{ asset.ip }}</td>
                <td>{{ asset.port }}</td>
                <td>{{ asset.username }}</td>
                <td>{{ asset.get_os_display }}</td>
                {% if not user.is_active %}
                    <td class="error"><i class="attention icon"></i> 否</td>
                {% else %}
                    <td class="aligned">
                        <i class="green checkmark icon"></i>
                    </td>
                {% endif %}
                <td>
                   <i class="remove asset icon" href="{% url 'assets:del' asset.id %}" value="{{ asset.id }}"></i>
                   <a href="{% url 'assets:update' asset.id %}" ><i class="edit icon"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="ui small modal transition hidden">
        <i class="close icon"></i>
        <div class="header">
            添加资产
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            var csrftoken = Cookies.get('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $('.remove.asset').click(function(){
                var url = $(this).attr('href');
                var id = $(this).attr('value');
                if (confirm('确定删除')){
                    $.post(
                            url,
                            {'id': id},
                            function(){
                                console.log('删除资产成功');
                                location.reload()
                            }

                    )

                }
            })
        })
    </script>
{% endblock %}
