{% extends 'base.html' %}
{% load mytags %}
{% block title %}授权详情{% endblock %}
{% block css %}
    .icon:hover{
        color: red;
    }
{% endblock %}
{% block content %}
    <h1 class="ui header">授权列表</h1>
    <div class="ui grid">
        <div class="two wide column">
            <table class="ui striped table">
                <thead>
                <tr>
                    <th>用户</th>
                </tr>
                </thead>
                <tbody>
                    {% for user in perm.user.all %}
                    <tr>
                        <td>{{ user.username }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="two wide column">
            <table class="ui striped table">
                <thead>
                <tr>
                    <th>资产</th>
                </tr>
                </thead>
                <tbody>
                    {% for asset in perm.asset.all %}
                    <tr>
                        <td>{{ asset.ip }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
