{% extends 'base.html' %}
{% load mytags %}
{% block title %}授权管理{% endblock %}
{% block css %}
    .icon:hover{
        color: red;
    }
{% endblock %}
{% block content %}
    <div class="ui right floated small primary labeled icon button" id="perm_add_btn"><i class="Heterosexual icon"></i> Add </div>
    <h1 class="ui header">授权列表</h1>
    <table class="ui striped table">
        <thead>
        <tr>
            <th>用户</th>
            <th>主机数量</th>
            <th>清空</th>
            <th>查看</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.id | get_user_perm_asset_count }}</td>
                <td><i class="perm flush  remove icon" href="#" value="{{ user.id }}"></i></td>
                <td><a href="{% url 'perm:detail' user.id %}"><i class="arrow circle outline right icon"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="ui small modal transition hidden">
        <i class="close icon"></i>
        <div class="header">
            添加授权
        </div>

        <div class="content">
            <form class="ui form"  method="post" action="{% url 'perm:add' %}">
                {% csrf_token %}
                {% for field in form %}
                    <div class="field">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <button class="ui button" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('#perm_add_btn').click(function () {
                $('.small.modal')
                        .modal('show');
            });
        })
    </script>
{% endblock %}
